.header {
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;

  width: 100%;

  padding: 1rem 2rem;

  z-index: 9999;

  background: linear-gradient(
    to right,
    var(--primary) 0%,
    var(--primary) 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease-in-out;
}

.header:hover,
.header:not(.sticky) {
  background-position: 0 0;
}

.header h1 a {
  color: var(--background);
}

.header h1 img {
  height: 1em;
  margin-right: 0.25em;

  vertical-align: middle;
}

@media (max-width: 768px) {
  /* Adjust header for smaller screens */
  .header {
    padding: 1rem 1rem;
  }
}
