.product-card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  background-color: var(--background);

  width: 10em;
  height: 100%;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  margin: 8px 0;
  font-size: 1.2em;
}

.product-card p {
  margin: 4px 0;
}

.product-card button {
  background-color: var(--accent);
  color: var(--background);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #005bb5;
}