.product-page {
  display: grid;
  grid:
    "title title"
    "img ordering"
    "description description"
    "recommendations recommendations";

  grid-template-columns: 3fr 4fr;
  grid-template-rows: 1fr auto auto auto;
  gap: 1em 1em;
  grid-auto-flow: row;
}

.img {
  grid-area: img;
}

.details {
  grid-area: details;
}

.recommendations {
  grid-area: recommendations;
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
}

.ordering {
  grid-area: ordering;
}
