/* from https://www.realtimecolors.com/?colors=070b0f-fbfcfe-97bae2-80b6f3-3b96fe*/
:root {
  --text: #070b0f;
  --background: #fbfcfe;
  --primary: #97bae2;
  --secondary: #80b6f3;
  --accent: #3b96fe;
}

*{
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#body > *{
  padding-right: 10%;
  padding-left: 10%;
}

#body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--background);
  color: var(--text);
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 2rem 0;
  --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/2em 100%;
  -webkit-mask: var(--mask);
          mask: var(--mask);

  background: var(--primary);
  background: radial-gradient(at left top, var(--primary), var(--accent));
  color: var(--background);
}

.product-list {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 4rem;
  flex-wrap: wrap;
}

ul.product-list {
  list-style-type: none;
  padding: 0;
}

button {
  background-color: var(--secondary);
  color: var(--background);
  box-shadow: 5px 5px 1px rgba(0,0,0,0.2);

  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--accent);
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  color: var(--background);


  padding: 1rem 0;
  width: 100%;
}