/* from https://www.realtimecolors.com/?colors=070b0f-fbfcfe-97bae2-80b6f3-3b96fe*/
:root {
  --text: #070b0f;
  --background: #fbfcfe;
  --primary: #97bae2;
  --secondary: #80b6f3;
}

*{
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#body > *{
  padding-right: 10%;
  padding-left: 10%;
}

#body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--background);
  color: var(--text);

  background-image: repeating-linear-gradient(45deg, transparent, transparent 32px, var(--primary) 32px, var(--primary) 64px);
  background-size: 90px 90px;
  animation: translateBG 3s linear infinite;
}

@keyframes translateBG {
  0% {
    background-position: 0px 0%;
  }
  100% {
    background-position: 90px 0%;
  }
}



h3 {
  margin: 0;
}

h5 {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  padding: 2rem 0;
  --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/2em 100%;
  -webkit-mask: var(--mask);
          mask: var(--mask);

  background: var(--primary);
  background: radial-gradient(at left top, var(--primary), var(--secondary));
  color: var(--background);
}

.product-list {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 4rem;
  flex-wrap: wrap;
}

ul.product-list {
  list-style-type: none;
  padding: 0;
}


a {
  color: var(--secondary);
  text-decoration: none;
}

h1 a {
  color: var(--background);
}

h1 img{
  height: 1em;
  margin-right: 0.5em;
}

button {
  background-color: var(--secondary);
  color: var(--background);
  box-shadow: 5px 5px 1px rgba(0,0,0,0.2);

  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--secondary);
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  color: var(--background);


  padding: 1rem 0;
  width: 100%;
}

.cart-icon {
  background: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}